.portfolio {
  width: 100%;
  background-color: #f7f4e9;
  display: grid;
  transition: width 0.5s, padding 0.5s;
  grid-template-columns: 0.5fr 5fr 0.5fr;
  .title {
    display: none;
    transform: rotate(0deg);
  }
  .activeTitle {
    font-weight: 600;
    font-size: xx-large;
  }
  .sliderWrapper {
    overflow-y: scroll;
    border-bottom: 3px solid black;
    &::-webkit-scrollbar {
      display: none;
    }
    max-height: 80%;
    padding: 0 2rem;
    margin: auto;
    .cards {
      padding-bottom: 10px;
      display: grid;
      gap: 20px;
      max-width: 880px;
      .one {
        box-shadow: -10px 10px 0px #88c3cf;
        .stack {
          background: #cff3f3;
        }
      }
      .two {
        box-shadow: -10px 10px 0px #cf8899;
        .stack {
          background: #ffe0de;
        }
      }
      .three {
        box-shadow: -10px 10px 0px #fcd68c;
        .stack {
          background: #ffe7cc;
        }
      }
      .four {
        box-shadow: -10px 10px 0px #575857;
        .stack {
          background: #8d8f8d;
          color: white;
        }
      }
      .card {
        display: grid;
        grid-template-columns: 4fr 4fr;
        gap: 30px;
        background-color: #ffffff;
        border-radius: 20px;
        padding: 10px;
        margin: 10px auto;
        border: 3px solid black;
        .stackWrapper {
          display: flex;
          flex-wrap: wrap;
          gap: 5px;
          margin-bottom: 15px;
          .stack {
            white-space: nowrap;
            padding: 6px 12px;
            border-radius: 8px;
            width: fit-content;
          }
        }
        .descriptionBox {
          font-weight: 500;
          .projectName {
            font-size: x-large;
            font-weight: 600;
            text-align: center;
            margin-bottom: 15px;
          }
          .projectDescription {
            font-size: large;
            padding: 5px;
          }
        }
        .image {
          border: 3px solid black;
          position: relative;
          border-radius: 20px;
          overflow: auto;
          z-index: 1;
          .preview {
            position: relative;
            object-fit: fill;
            // border-radius: 20px;
            padding: 20px;
            overflow: hidden;
          }
        }
      }
    }
  }
}

.default {
  width: 4rem;
  background-color: #f7f4e9;
  transition: width 0.5s, padding 0.5s;
  .title {
    writing-mode: vertical-rl;
    text-orientation: sideways;
    white-space: nowrap;
    width: 100%;
    font-size: xx-large;
    font-weight: 600;
    text-align: center;
    height: 100%;
    cursor: pointer;
  }
}

@media only screen and (max-width: 700px) {
  .default {
    width: 2rem;
    background-color: #f7f4e9;
    transition: width 0.5s, padding 0.5s;
    .title {
      writing-mode: vertical-rl;
      text-orientation: sideways;
      white-space: nowrap;
      width: 100%;
      font-size: x-large;
      font-weight: 600;
      text-align: center;
      height: 100%;
      cursor: pointer;
    }
  }
}

@media only screen and (max-width: 700px) {
  .portfolio {
    overflow-y: scroll;
    width: 100%;
    background-color: #f7f4e9;
    align-content: center;
    display: flex;
    transition: width 0.5s, padding 0.5s;
    .title {
      display: none;
      transform: rotate(0deg);
    }
    .sliderWrapper {
      position: relative;
      padding: 30px 10px;
      &::-webkit-scrollbar {
        display: none; /* for Chrome, Safari, and Opera */
      }
      .cards {
        .card {
          display: grid;
          grid-template-columns: auto;
          max-height: fit-content;
          gap: 10px;
          background-color: #ffffff;
          border-radius: 20px;
          padding: 10px;
          box-shadow: -10px 10px 0px #88c3cf;
          .descriptionBox {
            font-weight: 200;
            .projectName {
              font-size: x-large;
              font-weight: 500;
              text-align: center;
            }
            .stack {
              font-weight: 400;
            }
            .projectDescription {
              font-size: large;
              font-weight: 400;
              padding: 5px;
            }
          }
          .image {
            border: 1px solid black;
            position: relative;
            border-radius: 20px;
            object-fit: contain;
            border-radius: 20px;
            height: 150px;
            .preview {
              position: relative;
              object-fit: fill;
              border-radius: 20px;
              padding: 20px;
            }
          }
        }
      }
    }
  }
}
